body {
  font-family: "Roboto", sans-serif;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

/* header  */
.header {
  background-color: #fafafa;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav {
  margin-left: 80px;

  display: flex;
  align-items: center;
}
.logo {
  font-family: "Homemade Apple", sans-serif;
  font-size: 18px;
  line-height: 2.17;
  color: #231f20;
}
.nav-list {
  margin-left: 433px;

  display: flex;
  gap: 31px;
}
.nav-item {
}
.nav-link {
  padding: 47px 0;

  display: block;

  font-size: 18px;
  line-height: 1.39;
}
.heaeder-btn {
  margin-left: auto;
  margin-right: 40px;
  padding: 8px 22px;

  border: 1px solid #f7941e;
  border-radius: 5px;

  font-size: 18px;
  line-height: 22px;
  color: #f7941e;
  background-color: transparent;
}

/* hero */
.hero {
  background-color: #f1f1f2;
}

.hero-container {
  display: flex;
}

.wrapper {
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.content-wrapper {
  max-width: 433px;
}

.hero-title {
  margin-bottom: 36px;

  font-size: 56px;
  line-height: 1.23;
}

.hero-text {
  margin-bottom: 60px;

  font-size: 20px;
  line-height: 1.4;
}

.hero-btn {
  padding: 19px 25px;

  background: #f7941e;
  border-radius: 5px;
  border: none;

  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
  text-transform: uppercase;
}

/*** about us ***/
.about-us {
  background-color: #f1f1f2;
}

.about-us-container {
  display: flex;
}

.about-us-title {
  margin-bottom: 23px;

  font-size: 32px;
  line-height: 1.4;
}

.about-us-text {
  margin-bottom: 35px;

  font-size: 20px;
  line-height: 1.4;
}

.about-us-link {
  padding: 19px 25px;

  display: inline-block;

  border: 1px solid #f7941e;
  border-radius: 5px;

  font-size: 18px;
  line-height: 1.34;
  text-transform: uppercase;
  color: #f7941e;
}

/*** categories ***/

.second-container {
  width: 1170px;
  margin: 0 auto;
}

.categories {
  padding-top: 96px;
  padding-bottom: 120px;

  background-color: #fff;
}

.title {
  margin-bottom: 23px;

  font-size: 32px;
  line-height: 1.19;
  text-align: center;
}

.subtitle {
  margin-bottom: 60px;

  font-size: 18px;
  line-height: 1.19;
  text-align: center;
}

.categories-list {
  display: flex;
  gap: 30px;
}

.categories-item {
  flex-basis: calc((100% - 90px) / 4);

  background-color: #fafafa;
}

.categories-item-wrap {
  padding: 24px;
}

.categories-title {
  margin-bottom: 74px;

  font-size: 20px;
  line-height: 1.2;
}

.categories-link {
  font-size: 14px;
  line-height: 1.36;
}

/*** register ***/

.register {
  padding-top: 81px;
  padding-bottom: 69px;

  background-color: #f7941e;
}

.third-container {
  width: 970px;
  margin: 0 auto;
}

.register-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.register-text {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.4;
}
.register-subtext {
  font-size: 32px;
  line-height: 1.4;
}
.register-list {
  display: flex;
}
.register-item:first-child {
  margin-right: 16px;
}
.register-btn {
  padding: 19px 25px;

  border-radius: 5px;

  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}

.register-btn-first {
  background-color: #231f20;

  color: #fff;
}

.register-btn-second {
  background-color: transparent;

  color: #000;
}

/*** best blog ***/
.best-blog {
  padding-top: 85px;
  padding-bottom: 40px;

  background-color: #fff;
}

.article {
  display: flex;

  background-color: #231f20;
}

.article-wrap {
  padding-top: 63px;
  padding-left: 78px;
}

.article-author {
  margin-bottom: 27px;

  font-size: 14px;
  line-height: 1.4;
  color: #ffffff;
}

.article-title {
  margin-bottom: 60px;
  width: 492px;

  font-size: 48px;
  font-weight: 400;
  line-height: 1.21;
  color: #ffffff;
}

.article-link {
  font-size: 18px;
  line-height: 1.4;
  color: #ffffff;
}

/*** blog ***/

.blog {
  margin-bottom: 80px;
}

.blog-list {
  display: flex;
  gap: 30px;
}

.blog-item {
  padding: 48px;

  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.blog-title {
  margin-bottom: 16px;

  font-size: 24px;
  line-height: 1.4;
}

.blog-text {
  margin-bottom: 16px;

  font-size: 18px;
  line-height: 1.4;
}

.blog-link {
  font-size: 14px;
  line-height: 1.4;
}

/*** footer ***/
.footer {
  padding-top: 106px;
  padding-bottom: 35px;

  background-color: #fafafa;
}

.footer-nav {
  margin-bottom: 55px;
  padding-bottom: 43px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 141px;

  border-bottom: 1px solid #000000;
}

.footer-nav-list {
  display: flex;
  gap: 81px;
}

.footer-nav-link {
  font-size: 14px;
  line-height: 1.4;
}

.logo-footer {
  font-size: 18px;
  line-height: 2.17;
  color: #f7941e;
}

.social-list {
  margin-bottom: 72px;

  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-link {
  display: block;
}
.social-icon {
  width: 38px;
  height: 38px;
  fill: #000;
}

.copy {
  display: flex;
  justify-content: center;
  gap: 14px;
}
